<app-header [currRoute]="currRoute"></app-header>
<!-- <div class="vh-100 vw-100 d-flex flex-column justify-content-center align-items-center" style="background: cornsilk;">
<h1>Explore our products here!</h1>
</div> -->
<ng-template [ngIf]= "apiStatus === apiStatusConst.success">
        <div 
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="20"
        (scrolled)="onScroll()"
        >>
        <ul class="vw-100 d-flex fex-column align-items-center justify-content-start" *ngFor = "let item of productsData">
            <li class="vw-50 d-flex flex-column justify-content-start align-items-center">
                <h2>{{item.id}}</h2>
                <p>Item</p>
            </li>
        </ul>
    </div>
</ng-template>
<ng-template [ngIf]= "apiStatus === apiStatusConst.failure">
    <h1>Oops! Something went wrong. Please try again!</h1>
</ng-template>
